<!DOCTYPE html>
<html>
  <head>
    <title>Swcg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="white-font">Star Wars Random Character Generator</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/users">Browse Users</a>
        <a href="/characters">Browse Characters</a>
        <% if current_user %>
          <%= link_to current_user.username, "/users/#{current_user.id}" %> | <%= link_to "Logout", '/logout' %>
        <% else %>
          <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/' %>
        <% end %>
      </nav>


    </header>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
